%h3
  = link_to 'Forum', forum_path
  = '>>'
  = link_to @topic.title, forum_subjects_path(@topic)
%br
  = link_to "Create Subject", new_subject_path(@topic), method: 'get', class: 'btn btn-default'

-if will_paginate @subjects
  = will_paginate @subjects
-else
  %br

%table.table-bordered(style="width:100%")
  %tr
    %td
      Title/Post Starter
    %td
      Replies/Views
    %td
      Last Post By
  - @subjects.each do |subject|
    %tr
      %td
        = link_to subject.title, forum_subject_path(@topic, subject)
        %br
        = "Started by "
        = link_to subject.user.username, user_path(subject.user)
        = distance_of_time_in_words(Time.now, subject.created_at) + " ago"
      %td
        = "Replies: #{subject.posts.count - 1}"
        %br
        = "Views: #{subject.impressionist_count(:filter=>:session_hash)}"
      %td
        = link_to subject.posts.first.user.username, user_path(subject.posts.first.user)
        = distance_of_time_in_words(Time.now, subject.posts.first.created_at) + " ago"

= will_paginate @subjects
