%h3
  =  "Forum >> #{@topic.title} >> #{@subject.title}"
%br

%table.table-bordered(style="width:100%")
  %tr
    %td(style="width:20%")
      = @subject.user.username
      %br
      = "Posts: #{@subject.user.posts.count + @subject.user.subjects.count}"
    %td(style="width:60%")
      = simple_format(@subject.body)
    %td(style="width:10%")
      = "#1"
      %br
      = @subject.created_at

%table.table-bordered(style="width:100%")
  - @subject.posts.each_with_index do |post, index|
    %tr
      %td(style="width:20%")
        = post.user.username
        %br
        = "Posts: #{post.user.posts.count + post.user.subjects.count}"
      %td(style="width:60%")
        = simple_format(post.body)
      %td(style="width:10%")
        = "##{index + 2}"
        %br
        = post.created_at
%br

- if logged_in?
  = form_tag({controller: "posts", action: "create"}, method: 'post') do
    .control-group
      = label_tag :body, 'Reply'
      %br
      = hidden_field_tag :subject_id, @subject.id
      = text_area_tag :body, nil, size: '60x8'
    = submit_tag 'Submit', class: 'btn btn-primary'