%h3
  = link_to 'Forum', forum_path
  = '>>'
  = link_to @topic.title, forum_subjects_path(@topic)
  = '>>'
  = link_to @subject.title, forum_subject_path(@topic, @subject)

= will_paginate @posts

%table.table-bordered(style="width:100%")
  - @posts.each_with_index do |post, index|
    %tr
      %td(style="width:20%")
        = link_to post.user.username, user_path(post.user)
        %br
        = "Posts: #{post.user.posts.count}"
      %td(style="width:60%")
        = simple_format(post.body)
      %td(style="width:10%")
        = "##{normalize_post_number(index)}"
        %br
        = time_difference(post.created_at)

=will_paginate @posts
%br

- if logged_in?
  = form_tag({controller: "posts", action: "create"}, method: 'post') do
    .control-group
      = label_tag :body, 'Reply'
      %br
      = hidden_field_tag :subject_id, @subject.id
      = text_area_tag :body, nil, size: '60x8'
    = submit_tag 'Submit', class: 'btn btn-primary'