%h3
  = "Forum >> #{@topic.title}"
%br
  = link_to "Create Thread", new_thread_path(@topic), method: 'get', class: 'btn btn-default'
%br

%table.table-bordered(style="width:100%")
  %tr
    %td
      Title/Post Starter
    %td
      Replies/Views
    %td
      Last Post By
  - @topic.subjects.each do |thread|
    %tr
      %td
        = link_to thread.title, forum_thread_path(@topic, thread)
        %br
        = "Started by #{thread.user.username}, date"
      %td
        = "Replies: #{thread.posts.count}"
        %br
        = "Views: "
      %td
        = thread.user.username

